<div class="container">
  <div class="row">
    <div class="profile-card card col-md-3 mt-4 mb-4">
      <%= image_tag @user.image_url, size:"64x64", alt:"profile img", class:"mt-3 ml-3"%>
      <div class="card-body">
        <div class="card-title">
          <%= @user.name %>
        </div>
        <%= link_to '新規投稿', new_user_post_path(@user.nickname), class:"btn btn-primary mt-2" if current_user?(@user) %><br>
        <%= link_to 'ユーザ削除', user_path(@user.nickname), method: :delete, 
          data: {confirm: "#{@user.nickname}を削除します。よろしいですか？(投稿も全て削除されます)"}, class:"btn btn-danger mt-2" if current_user?(@user) %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1 mt-4 mb-4">
      <h2>投稿一覧</h2>
      <%#投稿がないとき%>
      <% if @posts.empty? %>
      <div class="post border-top p-2"> 投稿はありません </div>
      <div class="text-center mt-5 mb-5">
        <%= link_to '新規投稿', new_user_post_path(@user.nickname), class:"btn btn-primary " if current_user?(@user) %>
      </div>
      <% end %>
      <%#投稿があるとき%>
      <% @posts.map do |post| %>
      <div class="postlist border-top p-2">
        <p class="postlist-date p-0 m-0"><%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>に投稿</p>
        <%= link_to truncate(post.title), user_post_path(@user.nickname, post.slug),class:"postlist-title" %>
        <p class="postlist-content d-inline-block"><%= truncate(post.content) %></p><!--改行を無視するため
    --><div class="buttons d-inline-block text-xl-right">
          <%# 編集ボタンは自分のページまたは公開状態であれば表示%>
          <% if current_user?(@user) || post.published %>
            <%= link_to edit_user_post_path(@user.nickname, post.slug) ,class:"btn btn-outline-success" do %>
              <i class="fa fa-edit fa-lg"></i>
            <% end %>
          <% end %>
          <%# 削除ボタンは自分のページであれば表示 %>
          <% if current_user?(@user) %>
            <%= link_to user_post_path(@user.nickname, post.slug), method: :delete ,class:"btn btn-outline-danger",data:
              {confirm: "本当に<strong>#{post.title}</strong>を削除してよろしいですか？",
              cancel: "キャンセル",
              commit: "削除する"},
              title: "削除前確認" do %>
              <i class="fa fa-trash fa-lg"></i>
            <% end %>
          <% end %>

          <div id="publicstate_form<%= post.id %>" class="d-inline-block">
            <% if post.published %>
              <%= render 'public', post: post, user: @user %>
            <%else%>
              <%= render 'unpublic', post: post, user: @user %>
            <% end %>
          </div>
        </div>

      </div>
      <% end %>
    </div>

  </div>
</div>