<% @page_title = 'お問い合わせ内容確認' %>
<div class="inquiry-wrapper">
  <div class="page-title text-center p-5">
    <h1>お問い合わせ：確認</h1>
  </div>
  <div class="content text-left">
    <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
    <div class="row inquiry-form mx-auto">
          <%= f.label :name ,class:"col-md-4"%>
          <%= f.hidden_field :name %><div class="col-md-8 mb-4"><%= @inquiry.name %></div>

          <%= f.label :email ,class:"col-md-4"%>
          <%= f.hidden_field :email %><div class="col-md-8 mb-4"><%= @inquiry.email %></div>

          <%= f.label :message ,class:"col-md-4"%>
          <%= f.hidden_field :message %><div class="message-confirm col-md-8"><%= @inquiry.message %></div>

      <%= button_tag type:"submit", class: 'btn btn-success m-3' do %>
        <i class="fa fa-envelope"></i> 送信
      <% end %>
    </div>
    <% end %>
  </div>
</div>