<% @page_title = 'お問い合わせ' %>
<div class="inquiry-wrapper">
  <div class="page-title wf-nicomoji text-center m-5">
    <h1>Contact</h1>
  </div>
  <div class="content">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="inquiry-form mx-auto">

          <%= f.label :name %> <span class="badge mr-3 badge-squared badge-danger">必須</span>
          <%= f.text_field :name, class: 'form-control mb-4' %>

          <%= f.label :email %> <span class="badge mr-3 badge-squared badge-danger">必須</span>
          <%= f.text_field :email, class: 'form-control mb-4' %>

          <%= f.label :message %> <span class="badge mr-3 badge-squared badge-danger">必須</span>
          <%= f.text_area :message, class: 'form-control mb-4', rows: '6' %>
          <%= recaptcha_tags %>
          <%= f.submit '送信', class: 'btn btn-success mt-4 mb-3' %>
        
      </div>

    <% end %>
  </div>
</div>